target/
*.log
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
.DS_Store
.idea/
.vscode/
.mvn/
mvnw
mvnw.cmd
HELP.md
test-logs/
node_modules/
npm-debug.log
yarn-error.log
logs/
*.log.*
.git/
.github/
.gitignore
.dockerignore
README.md
docker-compose*.yml