<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<a th:href="@{/users}" >User List</a>
<div>
    <form th:action="@{/main/add}" method="post">
        <label>
            <input type="textarea" name="text" placeholder="Введите сообщение"/>
        </label>
        <label>
            <input type="text" name="tag" placeholder="Тэг"/>
        </label>
        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit">Отправить</button>
    </form>
</div>
<form th:action="@{/main}" method="get">
    <input type="text" name="filter" th:value="${filter}"/>
    <button type="submit">Найти</button>
</form>
<h3>Список сообщений:</h3>
<div th:each="message : ${messages}">
    <b th:text="${message.id}">Id</b>
    <span th:text="${message.text}">Text</span>
    <i th:text="${message.tag}">Tag</i>
    <p th:text="${message.date}">Date</p>
    <strong th:text="${message.authorName}">Author Name</strong>
    <form th:action="@{/main/{id}/delete(id=${message.id})}" method="post">
        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit">Удалить</button>
    </form>
</div>
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>